
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
 <style>
 
 .p{
     padding-left:60px;
      padding-right:80px;

      text-align: justify;
  text-justify: inter-word;

 }
 

 @media only screen and (max-width: 1025px) {
 .p{
     padding-left:20px;
      padding-right:20px;

      text-align: justify;
  text-justify: inter-word;

 }
}
 
 </style>
<div class=" container p" style="background-color: #ffffff; " >

<div class="row">

    <div>
        {% set post = __SELF__.post %}
    <h1 style="color: #0b666e; margin-left:20px;" class="section-title text-center mt-5  " class="font-size-regular ">{{ post.title }}</h1>
    
    <div style="color: rgb(97, 96, 96); " class="content p ">{{ post.content_html | raw }}</div>
    {% if post.featured_images.count %}
        <div class="featured-images text-center">
            {% for image in post.featured_images %}
                <p>
                    <img width="25%"
                        data-src="{{ image.filename }}"
                        src="{{ image.path }}"
                        alt="{{ image.description }}"
                        style="max-width: 50%" />
                </p>
            {% endfor %}
        </div>
    {% endif %}
    
    
    <p class="info">
       
    </p>
    </div>
    

</div>

</div>



