

<?php $hidss = 'EE' . uniqid(); ?>
<?php $fidss = 'FF' . uniqid(); ?>
<script>	

var <?= $hidss ?>;
var <?= $fidss ?>;

function stylesav() {

	 <?= $hidss ?> = Editor;	
	 //Editor = null;
	 <?= $fidss ?> = formid;	
	 //formid = null;
}


function defers(method) {
  if (window.Editor) {
      
   
      method();
    }
  else
      setTimeout(function() { defers(method) }, 500);
}


defers(stylesav);


</script>
<div class="apply-button">
	<button type="button"onClick="

	$.oc.flashMsg({'text': 'Styles Updated','class': 'success','interval': 3});


var styleold= $('#' + <?= $fidss ?> + '-field-viewBag-page_builder_styles').val();

var scriptold= $('#' + <?= $fidss ?> + '-field-viewBag-page_builder_scripts').val();	

var comp = $('#' + <?= $fidss ?> + '-field-viewBag-page_builder_components').val();

	
	$('#' + <?= $fidss ?> + '-field-viewBag-page_builder_scripts').val('');

	
	var noscript = [];

    comparray = JSON.parse(comp);   
  
     comparray.forEach(element => {

    if (element.tagName !='script') {
    
        noscript.push(element);
  
      }

    });
	

	
	<?= $hidss ?>.setComponents(noscript);
	<?= $hidss ?>.addComponents(scriptold);
	//<?= $hidss ?>.setComponents($('#' + <?= $fidss ?> + '-field-viewBag-page_builder_html').val() + scriptold);
	

	<?= $hidss ?>.setStyle(styleold);



	" class="btn btn-primary" data-disposable="">Apply</button>
</div>
