
<?php $hids = 'EE' . uniqid(); ?>
<?php $fids = 'FF' . uniqid(); ?>
<script>	

var <?= $hids ?>;
var <?= $fids ?>;

function stylesav() {

	 <?= $hids ?> = Editor;	
	 //Editor = null;
	 <?= $fids ?> = formid;	
	 //formid = null;
}


function defers(method) {
  if (window.Editor) {
      
   
      method();
    }
  else
      setTimeout(function() { defers(method) }, 500);
}


defers(stylesav);


</script>
<div class="apply-button">
	<button type="button"onClick="

	$.oc.flashMsg({'text': 'Styles Updated','class': 'success','interval': 3});
	<?= $hids ?>.setStyle($('#' + <?= $fids ?> + '-field-viewBag-page_builder_styles').val()); 

	" class="btn btn-primary" data-disposable="">Apply</button>
</div>
