{% set posts = __SELF__.posts %}

<ul class="post-list"  style="padding:10px;">
<div class="container ">
        <div class="row mb-5">
            <div data-aos="fade" class="col-12 text-center ">
                <h2 style="color: #0b666e;" class="section-title mb-3">Blog</h2>
            </div>
        </div>
        <div class="row">
    {% for post in posts %}
        

        
            <div  style="padding-left:20px;" data-aos="fade-up" data-aos-delay="" class="col-12 col-md-6 col-lg-4 mb-4 mb-lg-4">
                <div class="h-entry">
                    {% if post.featured_images.count %}
    <div class="featured-images text-center">
        {% for image in post.featured_images %}
            <p>
                <img
                    data-src="{{ image.filename }}"
                    src="{{ image.path }}"
                    alt="{{ image.description }}"
                    style="max-width: 100%;max-height: 300px" />
            </p>
        {% endfor %}
    </div>
{% endif %}
                    <h2 class="font-size-regular" ><a style="color: #0b666e;"  href="{{ post.url }}">{{ post.title }}</a></h2>
                


                      <p class="excerp">{{ post.summary | raw }}</p>
                      
                    
                </div>
            </div>
           
     

       
    {% else %}
        <li class="no-data">{{ __SELF__.noPostsMessage }} </li>
        
    {% endfor %}
     
       </div>
    </div>
</ul>

{% if posts.lastPage > 1 %}
    <ul class="col-12 pagination d-flex justify-content-end "  style="margin:0px; padding-right:10px">
        {% if posts.currentPage > 1 %}
            <li  ><a style="color:#0b666e !important; background-color: white;" class="btn btn-danger" href="  {{ this.page.baseFileName | page({ (__SELF__.pageParam): (posts.currentPage-1) })}}#blog-section ">&larr; Prev</a></li>
             <a href=""></a>
        {% endif %}

        {% for page in 1..posts.lastPage %}
            <li class="{{ posts.currentPage == page ? 'active' : null }}">
                <a style="color:#0b666e !important; background-color: white;" class="" href=" {{ this.page.baseFileName | page({ (__SELF__.pageParam): page }) }}#blog-section">{{ page }}</a>
            </li>
        {% endfor %}

        {% if posts.lastPage > posts.currentPage %}
            <li><a style="color:#0b666e !important; background-color: white;" class="" href="{{ this.page.baseFileName | page({ (__SELF__.pageParam): (posts.currentPage+1 )}) }}#blog-section">Next &rarr;</a></li>
        {% endif %}
    </ul>
{% endif %}






