title = "blog_post"
url = "/post/:slug"
is_hidden = 0

[viewBag]

[blogPost]
slug = "{{ :slug }}"
categoryPage = "blog_post"

[blogPosts]
pageNumber = "{{ :page }}"
postsPerPage = 10
noPostsMessage = "No posts found"
sortOrder = "published_at desc"
categoryPage = "main"
postPage = "blog_post"

[ContentBuilder]
savedatato = "content"
rootdir = "media"
==
<!doctype html>
<html lang="en">
  <head>
    <title>Oneder &mdash; Website Template by Colorlib</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    
    <title>{{ this.page.meta_title }}</title>
	<meta name="description" content="{{ this.page.meta_description }}">

    <link href="https://fonts.googleapis.com/css?family=Work+Sans:400,700,900&display=swap" rel="stylesheet">



    <link rel="stylesheet" href="{{ 'assets/css/bootstrap.min.css'| theme }}">
    <link rel="stylesheet" href="{{ 'assets/css/jquery-ui.css'| theme }}">
    <link rel="stylesheet" href="{{ 'assets/css/owl.carousel.min.css'| theme }}">
    <link rel="stylesheet" href="{{ 'assets/css/owl.theme.default.min.css'| theme }}">
    <link rel="stylesheet" href="{{ 'assets/css/owl.theme.default.min.css'| theme }}">

    <link rel="stylesheet" href="{{ 'assets/css/jquery.fancybox.min.css'| theme }}">

    <link rel="stylesheet" href="{{ 'assets/css/bootstrap-datepicker.css'| theme }}">

    <link rel="stylesheet" href="{{ 'assets/fonts/flaticon/font/flaticon.css'| theme }}">
    <link rel="stylesheet" href="{{ 'assets/fonts/icomoon/style.css'| theme }}">

    <link rel="stylesheet" href="{{ 'assets/css/aos.css'| theme }}">

    <link rel="stylesheet" href="{{ 'assets/css/style.css'| theme }}">
    
    <script src="{{ 'assets/js/jquery-3.3.1.min.js'| theme }}"></script>
    {% styles %}
  </head>
  <body data-spy="scroll" data-target=".site-navbar-target" data-offset="300">
  

  {% page %}



  
  <script src="{{ 'assets/js/jquery-ui.js'| theme }}"></script>
  <script src="{{ 'assets/js/popper.min.js'| theme }}"></script>
  <script src="{{ 'assets/js/bootstrap.min.js'| theme }}"></script>
  <script src="{{ 'assets/js/owl.carousel.min.js'| theme }}"></script>
  <script src="{{ 'assets/js/jquery.countdown.min.js'| theme }}"></script>
  <script src="{{ 'assets/js/jquery.easing.1.3.js'| theme }}"></script>
  <script src="{{ 'assets/js/aos.js'| theme }}"></script>
  <script src="{{ 'assets/js/jquery.fancybox.min.js'| theme }}"></script>
  <script src="{{ 'assets/js/jquery.sticky.js'| theme }}"></script>
  <script src="{{ 'assets/js/isotope.pkgd.min.js'| theme }}"></script>

  
  <script src="{{ 'assets/js/main.js'| theme }}"></script>

  {% framework extras %}
  {% scripts %}
    


<style>
.site-navbar{

background-color:#0b666e !important;

 color:white !important;
}

.nav-link{
   color:white !important;
 
   z-index:3  !important;
  
}

.site-mobile-menu, .site-navbar-target{

background-color:#0b666e !important;
}
.sticky-wrapper.is-sticky .site-navbar {
    background-color: #0B666E;
    border-bottom: 1px solid transparent;
    -webkit-box-shadow: 4px 0 20px -5px rgba(0, 0, 0, 0.1);
    box-shadow: 4px 0 20px -5px rgba(0, 0, 0, 0.1);
  
    
}

.sticky-wrapper.is-sticky .site-navbar .site-menu>li>a {
    color: white !important;
}
.sticky-wrapper.is-sticky .site-navbar .site-menu>li>a:hover,
.sticky-wrapper.is-sticky .site-navbar .site-menu>li>a.active {
    color: #bdbdbe !important;
}
</style>





  <div class="site-wrap">
    <div class="site-mobile-menu site-navbar-target">
        <div class="site-mobile-menu-header">
            <div class="site-mobile-menu-close mt-3"><span class="icon-close2 js-menu-toggle"></span></div>
        </div>
        <div class="site-mobile-menu-body"></div>
        
    </div>
    <header role="banner" class="site-navbar py-4 site-navbar-target ">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-6 col-xl-2">
                    <h2 class="mb-0 site-logo" ><a href="/" class="mb-0"><img style="width: 130%;" src="../themes/pkurg-oneder/assets/images/LOGO ACTIVA  FINAL 2020-03.png" ></a></h2>
                </div>
                <div class="col-12 col-md-10 d-none d-xl-block">
                    <nav role="navigation" class="site-navigation position-relative text-right">
                        <ul class="site-menu main-menu js-clone-nav mr-auto d-none d-lg-block">
                            <li><a href="{{ 'main'|page }}#home-section" class="nav-link">Inicio</a></li>
                            <li><a href="{{ 'main'|page }}#offer-section" class="nav-link">¿Qué ofrecemos?</a></li>
                            <li class=""><a href="#services-section" class="nav-link">Servicios</a>
                            
                            </li>
                       <!--     <li><a href="{{ 'main'|page }}#about-section-2" class="nav-link">B-ACCESS</a></li>-->
                            
                            <li><a href="{{ 'main'|page }}#team-section" class="nav-link">Equipo</a></li>
                            <li><a href="{{ 'main'|page }}#blog-section" class="nav-link">Blog</a></li>
                            <li><a href="{{ 'main'|page }}#contact-section" class="nav-link">Contactanos</a></li>
                        </ul>
                    </nav>
                </div>
                <div id="i6iqk" class="col-6 d-inline-block d-xl-none ml-md-0 py-3"><a href="#" class="site-menu-toggle js-menu-toggle float-right"><span class="icon-menu h3"></span></a></div>
            </div>
        </div>
    </header>

    
<div class="content">
<div class="row">


<div class="col-12 col-lg-9">
{% component 'blogPost' %}
</div>


<div class="col-12 col-lg-3 border-left">



<style>
.ff{
 visibility: hidden !important; 
 
 
}
 .example{
margin-top: -125%;

}
@media only screen and (max-width: 990px) {
  .example{
margin-top: -10%;
text-align:center
}
.font-size-regular{
     font-size: 20px;
     }
     .col-lg-4{
          }
    
}
</style>



<h1 class="text-center mt-4 pt-4">Ultimos posts</h1>
<div class="mgt">
{% component 'blogPosts' %}
</div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
$(document).ready(function(){
  $(function(){
    $("div").removeClass("col-lg-4 col-md-6");
  });
});
</script>


</div>
</div>
  </body>
</html>