{% if (__SELF__.edit) %}

{% set editorname = __SELF__.id %}

{% if not editmode %}

<div class="builder-panel" id="builder-panel{{editorname}}">
  <a href="{{ this.controller.currentPageUrl() }}?&b4builder-edit-mode=1&editor={{ __SELF__.alias }}">
    <button class="btn1" id="insertAfterBtn" >
      {% if __SELF__.property('button_text') %}
      {{ __SELF__.property('button_text') }}
      {% else %}
      Edit
      {% endif %}
    </button>
  </a>
</div>




{{ __SELF__.getHTML(__SELF__.content) | raw }}

{% put scripts %}
{{ __SELF__.getScripts(__SELF__.content) | raw }}
{% endput %}

{% else %}


{% if editor == __SELF__.alias %}
{% put styles %}
<style type="text/css">
  body {
    padding: 0;
    margin: 0;
  }
  .ww {
    height: 100vh !important;
  }

  .popup-backdrop, .control-popup {
    opacity: 1 !important;
  }

  .modal-dialog.size-adaptive.adaptive-height {

    max-width: 90% !important;
    
  }



</style>
{% endput %}

<div class="ww" id="gjs{{ editorname }}">
</div>

{% put scripts %}
<script type="text/javascript">

  function  loadeditor{{ editorname }}() {

   var t =  {{ __SELF__.jsoncontent | raw }}
   var editor{{ editorname }} = grapesjs.init({
    container : '#gjs{{ editorname }}',
    //fromElement: true,
    components: t,

    colorPicker: { appendTo: 'parent', offset: { top: 20, left: -175 } },
    plugins: [PB4, PB4Blog, PB4snippets,PB4temptales, PB4landingpages, 'grapesjs-custom-code','grapesjs-tui-image-editor', 'grapesjs-style-gradient', 'grapesjs-style-filter', PB4October, PB4CustomBlocks],
    pluginsOpts: {
      [PB4temptales] : {
        path : 'https://b4builder.pkurg.ru/data/templates/'
      },
      [PB4landingpages] : {
        path : 'https://b4builder.pkurg.ru/data/landing-pages/'
      },
      'grapesjs-custom-code': {
        blockCustomCode: { category: 'Bootstrap4 Basic'}
      },
      'grapesjs-style-gradient': {},
      [PB4October] : {
        partials : [
        {% for currentpartial in __SELF__.getPartials() %}
        '{{ currentpartial }}',
        {% endfor %}
        ],
        contents : [
        {% for currentcontent in __SELF__.getContents() %}
        '{{ currentcontent }}',
        {% endfor %}
        ]
      },
    },
    allowScripts: 1,
    storageManager: {
       id: 'gjs-',             // Prefix identifier that will be used inside storing and loading
       type: 'local',          // Type of the storage
       autosave: true,         // Store data automatically
       // autoload: true,         // Autoload stored data on init
       autoload: false,         // Autoload stored data on init
       stepsBeforeSave: 1,     // If autosave enabled, indicates how many changes are necessary before store method is triggered
       storeComponents: true,  // Enable/Disable storing of components in JSON format
       //storeStyles: true,      // Enable/Disable storing of rules in JSON format
       storeHtml: true,        // Enable/Disable storing of components as HTML string
       //storeCss: true,         // Enable/Disable storing of rules as CSS string
     },
     canvas: {      
      {% if __SELF__.getSetting('buildercanvasassets')=='1' %}
       styles: [
      {{ __SELF__.getSetting('builder_styles') | raw }}        
      ],
      scripts: [
      {{ __SELF__.getSetting('builder_scripts') | raw  }}        
      ],      
      {% else %}
      styles: [
      {% if __SELF__.property('canvas_styles') %}
      {% else %}
      '{{curdir}}/plugins/pkurg/bootstrappagebuilder/formwidgets/editor/assets/css/bootstrap.min.css',
      {% endif %}
      {% for item in __SELF__.property('canvas_styles') %}
      '{{ item }}',
      {% endfor %}
      '{{curdir}}/plugins/pkurg/bootstrappagebuilder/formwidgets/editor/assets/css/styleineditor.css?v=6',
      ],
      scripts: [
      {% if __SELF__.property('canvas_scripts') %}
      {% else %}
      '{{curdir}}/plugins/pkurg/bootstrappagebuilder/formwidgets/editor/assets/jquery.min.js',
      '{{curdir}}/plugins/pkurg/bootstrappagebuilder/formwidgets/editor/assets/bootstrap.min.js',
      '{{curdir}}/plugins/pkurg/bootstrappagebuilder/formwidgets/editor/assets/popper.min.js',
      {% endif %}
      {% for item in __SELF__.property('canvas_scripts') %}
      '{{ item }}',
      {% endfor %}
      ],
      
      {% endif %}
    },
    assetManager: {
      storageType   : '',
      storeOnChange  : true,
      storeAfterUpload  : true,
      upload: '{{url(mediapath)}}',
      assets      : [
      {% for file in files %}
      '{{ path }}/{{ file}}',
      {% endfor %}
      ],
      uploadFile: function(e) {
       var files = e.dataTransfer ? e.dataTransfer.files : e.target.files;
       var formData = new FormData();
       for(var i in files){
        formData.append('file-'+i, files[i])
      }
      $.ajax({
        url: '{{url('pagebuilderuploader')}}',
        type: 'POST',
        data: formData,
        contentType:false,
        crossDomain: true,
        dataType: 'json',
        mimeType: "multipart/form-data",
        processData:false,
        success: function(result){
         var myJSON = [];
         $.each( result['data'], function( key, value ) {
          myJSON[key] = value;
        });
         var images = myJSON;
         editor{{ editorname }}.AssetManager.add(images);
       }
     });
    },
  },
});


   editor{{ editorname }}.on('load', (editor) => {

    {% if __SELF__.json %}
    var t = {{ __SELF__.json | raw }};
    editor.setComponents( t);
    var t = `{{ __SELF__.getStyles(__SELF__.content) | raw }}`;
    editor.setStyle(t);
    {% endif  %}

  });


   var CustomBlock = editor{{ editorname }}.BlockManager;
   var Editor = editor{{ editorname }};

   Editor.StyleManager.addProperty('decorations', {
    name: 'Gradient',
    property: 'background-image',
    type: 'gradient',
    defaults: 'none'
  });

   Editor.StyleManager.addProperty('extra', {
    name: 'Filter',
    property: 'filter',
    type: 'filter',
    full: 1,
  });


{% if octobermedia %}
//media assets
editor{{ editorname }}.Commands.add('open-assets', {

 run(editor, sender, opts = {}) {

  var media = new $.oc.mediaManager.popup({
    alias: '{{__SELF__.alias}}',
    cropAndInsertButton: true,
    onInsert: function(items) {
      if (!items.length) {
        $.oc.alert($.oc.lang.get('mediamanager.invalid_image_empty_insert'))
        return
      }
      if (items.length > 1) {
        $.oc.alert($.oc.lang.get('mediamanager.invalid_file_single_insert'))
        return
      }
      if (items[0].documentType !== 'image') {
        $.oc.alert($.oc.lang.get('mediamanager.invalid_image_invalid_insert', 'The file "'+items[0].title+'" is not an image.'))
        return;
      }      

      var picurl = '{{ mediadir }}' + items[0].path;

      opts.target.set('src', picurl);
      const fakeAsset = { get: () => picurl };
      opts.onSelect(fakeAsset);

      this.hide()
    }
  }) ;
}
});
{% endif %}

///Collapsed Category in Blocks when Grapes Editor is loaded

var categories = editor{{ editorname }}.BlockManager.getCategories();
categories.each(category => {
  category.set('open', false).on('change:open', opened => {
    opened.get('open') && categories.each(category => {
      category !== opened && category.set('open', false)
    })
  })
})

//set default tab
var openBl = Editor.Panels.getButton('views', 'open-blocks');
Editor.on('load', () => openBl && openBl.set('active', 1));

//Add Image Editor button
Editor.Panels.addButton('options',{
  id: 'image-editor',
  className: 'fa fa-picture-o',
  //togglable: false,
  command: {
    run: function(editor,  sender) {
      sender && sender.set('active', false);
      editor.runCommand('tui-image-editor');
    },
    stop: function(editor) {

    }
  },
  active: false,
  attributes: { title: 'Image Editor'},
});



editor{{ editorname }}.on('block:drag:start', model => $( ".gjs-pn-logo-Panel" ).show());
editor{{ editorname }}.on('block:drag:stop', model => $( ".gjs-pn-logo-Panel" ).hide());


//logo panel
var newPanel = Editor.Panels.addPanel({
  id: 'logo-Panel',
});

$( ".gjs-pn-logo-Panel" ).hide();



editor{{ editorname }}.Panels.addButton('options',{
  id: 'save-code',
       className: 'fa fa-floppy-o ', //I will change the icon to a better icon later if this code works
       //label: 'Save to server',
       command: function(editor) {

        var data = '<style>' + editor.getCss() + '</style>' + editor.getHtml();

        function replaceSubStr(str, subStr, replacer)
        {
         var newStr = '', n = subStr.length, N = str.length;

         for (var i = 0; i < N; i++)
          {  var j = i;
           while (j < i+n && str[j] === subStr[j-i]) j++;
           if (j === i+n)
            {  newStr += replacer;
             i += n-1;
           }
           else newStr += str[i];
         }

         return newStr;
       }



       function decodeHtml(html) {
        var txt = document.createElement("textarea");
        txt.innerHTML = html;
        return txt.value;
      }


      var xmlData = decodeHtml(data);

      var comp = editor{{ editorname }}.getComponents();

      comp = JSON.stringify(comp);


      $('form').request('{{ __SELF__ }}::onSaveFile',


      {
        data: {file: '{{__SELF__.file}}', content: xmlData, json: comp},
        success: function() {

          window.location.href = "{{ this.controller.currentPageUrl() }}";

        },

      });

    },
    attributes: { title: 'Save and Close'},
  });


editor{{ editorname }}.Panels.addButton('options',{
  id: 'close-editor',
       className: 'fa fa-times', //I will change the icon to a better icon later if this code works
       //label: 'Save to server',
       command: function(editor) {

        window.location.href = "{{ this.controller.currentPageUrl() }}";

      },
      attributes: { title: 'Close Builder'},
    });



}

function defer{{ editorname }}(method) {
  if (window.builderready) {

    method();
  }
  else
    setTimeout(function() { defer{{ editorname }}(method) }, 500);
}

defer{{ editorname }}(loadeditor{{ editorname }});

</script>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha256-eZrrJcwDc/3uDhsdt61sL2oOBY362qM3lon1gyExkL0=" crossorigin="anonymous" />

{% put styles %}
<style type="text/css">

  .gjs-pn-btn.fa {
    font-size: 18px;
  }
</style>

{% endput %}

{% endput %}

{% endif %}

{% endif %}


{% else %}


{{ __SELF__.getHTML(__SELF__.content) | raw }}

{% put scripts %}
{{ __SELF__.getScripts(__SELF__.content) | raw }}
{% endput %}

{% endif %}
