<div class="container">
        <div class="row mb-5">
            <div data-aos="fade" class="col-12 text-center">
                <h2 class="section-title mb-3">Nuestro Blog</h2>
            </div>
        </div>
        <div class="row">
            <div data-aos="fade-up" data-aos-delay="" class="col-md-6 col-lg-4 mb-4 mb-lg-4">
                <div class="h-entry">
                    <a href="single.html"><img src="themes/pkurg-oneder/assets/images/post_1.jpg" alt="Image" class="img-fluid" /></a>
                    <h2 class="font-size-regular"><a href="#">Repudiandae Quisquam Eaque Dolore</a></h2>
                    <div class="meta mb-4">Ham Brook <span class="mx-2">•</span> Jan 18, 2019<span class="mx-2">•</span> <a href="#">News</a></div>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus eligendi nobis ea maiores sapiente veritatis reprehenderit suscipit quaerat rerum voluptatibus a eius.</p>
                    <p><a href="#">Continue Reading...</a></p>
                </div>
            </div>
            <div data-aos="fade-up" data-aos-delay="100" class="col-md-6 col-lg-4 mb-4 mb-lg-4">
                <div class="h-entry">
                    <a href="single.html"><img src="themes/pkurg-oneder/assets/images/post_2.jpg" alt="Image" class="img-fluid" /></a>
                    <h2 class="font-size-regular"><a href="#">Repudiandae Quisquam Eaque Dolore</a></h2>
                    <div class="meta mb-4">James Phelps <span class="mx-2">•</span> Jan 18, 2019<span class="mx-2">•</span> <a href="#">News</a></div>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus eligendi nobis ea maiores sapiente veritatis reprehenderit suscipit quaerat rerum voluptatibus a eius.</p>
                    <p><a href="#">Continue Reading...</a></p>
                </div>
            </div>
            <div data-aos="fade-up" data-aos-delay="200" class="col-md-6 col-lg-4 mb-4 mb-lg-4">
                <div class="h-entry">
                    <a href="single.html"><img src="themes/pkurg-oneder/assets/images/post_3.jpg" alt="Image" class="img-fluid" /></a>
                    <h2 class="font-size-regular"><a href="#">Repudiandae Quisquam Eaque Dolore</a></h2>
                    <div class="meta mb-4">James Phelps <span class="mx-2">•</span> Jan 18, 2019<span class="mx-2">•</span> <a href="#">News</a></div>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus eligendi nobis ea maiores sapiente veritatis reprehenderit suscipit quaerat rerum voluptatibus a eius.</p>
                    <p><a href="#">Continue Reading...</a></p>
                </div>
            </div>
        </div>
    </div>