<div class="site-wrap">
    <div class="site-mobile-menu site-navbar-target">
        <div class="site-mobile-menu-header">
            <div class="site-mobile-menu-close mt-3"><span class="icon-close2 js-menu-toggle"></span></div>
        </div>
        <div class="site-mobile-menu-body"></div>
    </div>
    <header role="banner" class="site-navbar py-4 js-sticky-header site-navbar-target">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-6 col-xl-2">
                    <h2 class="mb-0 site-logo" ><a href="/" class="mb-0"><img style="width: 130%;" src="themes/pkurg-oneder/assets/images/LOGO ACTIVA  FINAL 2020-03.png" ></a></h2>
                </div>
                <div class="col-12 col-md-10 d-none d-xl-block">
                    <nav role="navigation" class="site-navigation position-relative text-right">
                        <ul class="site-menu main-menu js-clone-nav mr-auto d-none d-lg-block">
                            <li><a href="{{ 'main'|page }}#home-section" class="nav-link">Inicio</a></li>
                            <li><a href="#offer-section" class="nav-link">¿Qué ofrecemos?</a></li>
                            <li class=""><a href="#services-section" class="nav-link">Servicios</a>
                            
                            </li>
                       <!--     <li><a href="#about-section-2" class="nav-link">B-ACCESS</a></li>-->
                            
                            <li><a href="#team-section" class="nav-link">Equipo</a></li>
                            <li><a href="#blog-section" class="nav-link">Blog</a></li>
                            <li><a href="#contact-section" class="nav-link">Contactanos</a></li>
                        </ul>
                    </nav>
                </div>
                <div id="i6iqk" class="col-6 d-inline-block d-xl-none ml-md-0 py-3"><a href="#" class="site-menu-toggle js-menu-toggle float-right"><span class="icon-menu h3"></span></a></div>
            </div>
        </div>
    </header>