   <form data-request="onSend2"  class="footer-subscribe">
                        <div class="input-group mb-3"><input required type="email" id="email" name="email" placeholder="Email" class="form-control  border-secondary text-white bg-transparent" />
                              <div class="row form-group">
                            <div class="col-md-6"><button type="submit"  placeholder="Insert text here" value="Enviar" class="btn btn-primary text-black">Enviar</button></div>
                        </div>


                     
                        </div>
                           <ul>
                        {% for error in errors.all()%}
                        <li>{{ error }}</li>
                        {% endfor %}
                        
                        </ul>
                    </form>