 <section id="contact-section" data-aos="fade" class="site-section bg-light">
       <style>
       .h2{
           font-size: 70px !important;
           }
       </style>
       
        <div class="container-fluid ">
            <div class="row mb-5">
                <div class="col-12 text-center">
                   
                </div>
            </div>
            <div class="row mb-5 " style="margin-top:150px; background-color:#0b666e ; padding: 80px;">
                <div class="col-md-4 text-center">
                    <p class="mb-4"><span class="icon-room d-block h2  text-white"></span><span class="text-white">203 Fake St. Mountain View, San Francisco, California, USA</span></p>
                </div>
                <div class="col-md-4 text-center">
                  <p class="mb-4  text-white"><span  class="icon-phone d-block h2  text-white" ></span>  <a style='text-decoration:none;color:white;' href="https://wa.me/68282413" target="_blank"> +507 68282413</a></p>
                </div>
                <div class="col-md-4 text-center">
                    <p class="mb-0"><span class="icon-mail_outline d-block h2  text-white"></span><a  style='text-decoration:none;color:white;'  href="mailto:contactanos@activa-mkt.com
" target="_blank">contactanos@activa-mkt.com
</a></p>
                </div>
            </div >

              <section id="form-section"></section>
              <div class="container">
            <div   class="row" style="margin-top:200px ;"  >
                <div  class="col-md-12 mb-5 ">
                <h1 class=" mb-5 text-center section-title ">Completa nuestro formulario</h1>
                <div class="d-flex justify-content-center">
                    <form data-request="onSend" class="p-5 bg-white col-12 col-md-5 ">
                        
                        <div class="row form-group">
                            <div class="col-md-12 mb-3 mb-md-0"><label for="name" class="text-black">Nombre completo<div></div></label><input required type="text" id="name" name="name" placeholder="Nombre completo" class="form-control" /></div>

                        </div>
                        <div class="row form-group">
                            <div class="col-md-12"><label for="email" class="text-black">Email<div></div></label><input required type="email" id="email" name="email" placeholder="Email" class="form-control" /></div>
                        </div>
                        <div class="row form-group">
                            <div class="col-md-12"><label for="company" class="text-black">Empresa (opcional)<div></div></label><input type="text" id="company" name="company" placeholder="Empresa" class="form-control" /></div>
                        </div>
                        <div class="row form-group">
                            <div class="col-md-12"><label for="phone" class="text-black">Teléfono<div></div></label><input type="text" id="phone" cols="30" name="phone" rows="7" placeholder="tel:" class="form-control"></input>
                            </div>
                        </div>

                        <div class="row form-group">
                            <div class="col-md-12"><label for="service" class="text-black">servicio<div></div></label>
                            
                               <select  class="form-control"  name="select">
                               <option value="Desarrollos digitales"> Desarrollos digitales</option> 
                               <option value="Diseño y creacion de contenido digital">Diseño y creacion de contenifdo digital</option>
                               <option value="BRANDING">BRANDING</option>
                               <option value="Analisis de entorno">Analisis de entorno</option>
                                <option value="B-ACCESS">B-ACCESS</option>

                              </select>

                        

                            </div>
                        </div>

                        <div class="row form-group">
                            <div class="col-md-12"><button type="submit"  placeholder="Insert text here" value="Enviar" class="btn btn-danger btn-lg btn-block text-white">Enviar</button></div>
                        </div>


                        <ul>
                        {% for error in errors.all()%}
                        <li>{{ error }}</li>
                        {% endfor %}
                        
                        </ul>
                    </form>
                    </div>
                </div>
            </div>
            </div>
        </div>


    </section>