	/*
  	Flaticon icon font: Flaticon
  	Creation date: 03/04/2019 06:02
  	*/
	
	@font-face {
	    font-family: "Flaticon";
	    src: url("./Flaticon.eot");
	    src: url("./Flaticon.eot?#iefix") format("embedded-opentype"), url("./Flaticon.woff2") format("woff2"), url("./Flaticon.woff") format("woff"), url("./Flaticon.ttf") format("truetype"), url("./Flaticon.svg#Flaticon") format("svg");
	    font-weight: normal;
	    font-style: normal;
	}
	
	@media screen and (-webkit-min-device-pixel-ratio:0) {
	    @font-face {
	        font-family: "Flaticon";
	        src: url("./Flaticon.svg#Flaticon") format("svg");
	    }
	}
	
	[class^="flaticon-"]:before,
	[class*=" flaticon-"]:before,
	[class^="flaticon-"]:after,
	[class*=" flaticon-"]:after {
	    font-family: Flaticon;
	    font-style: normal;
	    font-weight: normal;
	    font-variant: normal;
	    text-transform: none;
	    line-height: 1;
	    /* Better Font Rendering =========== */
	    -webkit-font-smoothing: antialiased;
	    -moz-osx-font-smoothing: grayscale;
	}
	
	.flaticon-startup:before {
	    content: "\f100";
	}
	
	.flaticon-graphic-design:before {
	    content: "\f101";
	}
	
	.flaticon-settings:before {
	    content: "\f102";
	}
	
	.flaticon-idea:before {
	    content: "\f103";
	}
	
	.flaticon-smartphone:before {
	    content: "\f104";
	}
	
	.flaticon-head:before {
	    content: "\f105";
	}