[ContentBuilder]
savedatato = "content"
rootdir = "media"
==
<style type="text/css">
    * {
        box-sizing: border-box;
    }
    
    body {
        margin: 0;
    }
    
    * {
        box-sizing: border-box;
    }
    
    body {
        margin-top: 0px;
        margin-right: 0px;
        margin-bottom: 0px;
        margin-left: 0px;
    }
    
    #i6iqk {
        position: relative;
        top: 3px;
    }
    
    .site-blocks-cover.overlay {
        background-image: url("themes/pkurg-oneder/assets/images/hero_1.jpg");
        background-repeat: repeat;
        background-position: left top;
        background-attachment: scroll;
        background-size: auto;
    }
</style>

<button type="button" class="btn btn-secondary" data-container="body" data-toggle="popover" data-placement="top" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus.">
  Popover on top
</button>

<button type="button" class="btn btn-secondary" data-container="body" data-toggle="popover" data-placement="right" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus.">
  Popover on right
</button>

<button type="button" class="btn btn-secondary" data-container="body" data-toggle="popover" data-placement="bottom" data-content="Vivamus
sagittis lacus vel augue laoreet rutrum faucibus.">
  Popover on bottom
</button>

<button type="button" class="btn btn-secondary" data-container="body" data-toggle="popover" data-placement="left" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus.">
  Popover on left
</button>
<div class="site-wrap">
    <div class="site-mobile-menu site-navbar-target">
        <div class="site-mobile-menu-header">
            <div class="site-mobile-menu-close mt-3"><span class="icon-close2 js-menu-toggle"></span></div>
        </div>
        <div class="site-mobile-menu-body"></div>
    </div>
    <header role="banner" class="site-navbar py-4 js-sticky-header site-navbar-target">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-6 col-xl-2">
                    <h2 class="mb-0 site-logo" style="font-size: 20px;"><a href="/" class="mb-0">Activa MKT</a></h2>
                </div>
                <div class="col-12 col-md-10 d-none d-xl-block">
                    <nav role="navigation" class="site-navigation position-relative text-right">
                        <ul class="site-menu main-menu js-clone-nav mr-auto d-none d-lg-block">
                            <li><a href="#home-section" class="nav-link">Inicio</a></li>
                            <li class="has-children"><a href="#services-section" class="nav-link">Servicios</a>
                                <ul class="dropdown">
                                    <li><a href="#services-section" class="nav-link">Desarrollos digitales</a></li>
                                    <li><a href="#design-section" class="nav-link">Diseño y creación de contenido digital</a></li>
                                    <li><a href="#branding-section" class="nav-link">Branding</a></li>
                                    <li><a href="#analysis-section" class="nav-link">Analisis de entorno</a></li>
                                    <li><a href="#b-access-section" class="nav-link">B-ACCESS</a></li>



                                </ul>
                            </li>
                            <li><a href="#offer-section" class="nav-link">Ofrecemos</a></li>
                            <li><a href="#team-section" class="nav-link">Equipo</a></li>
                            <li><a href="{{ 'blog_list'|page }}" class="nav-link">Blog</a></li>
                            <li><a href="#contact-section" class="nav-link">Contactanos</a></li>
                        </ul>
                    </nav>
                </div>
                <div id="i6iqk" class="col-6 d-inline-block d-xl-none ml-md-0 py-3"><a href="#" class="site-menu-toggle js-menu-toggle float-right"><span class="icon-menu h3"></span></a></div>
            </div>
        </div>
    </header>
    <div data-aos="fade" id="home-section" class="site-blocks-cover overlay">
        <div class="container">
            <div class="row align-items-center justify-content-center">
                <div class="col-md-8 mt-lg-5 text-center">
                    <h1 data-aos="fade-up" class="text-uppercase mb-5">Espacio para poner slogan</h1>
                    <div data-aos="fade-up" data-aos-delay="100"><a href="#about-section" class="btn smoothscroll btn-primary mr-2 mb-2">¿Quienes somos?</a></div>
                </div>
            </div>
        </div><a href="#about-section" class="mouse smoothscroll"><span class="mouse-icon"><span class="mouse-wheel"></span></span></a></div>
    <div id="about-section" class="site-section cta-big-image">
        <div class="container">
            <div class="row mb-5">
                <div data-aos="fade" class="col-12 text-center">
                    <h2 class="section-title mb-3">¿Quienes somos?</h2>
                </div>
            </div>
            <div class="row">
                <div data-aos="fade-up" data-aos-delay="" class="col-lg-6 mb-5">
                    <figure class=""><img src="themes/pkurg-oneder/assets/images/hero_1.jpg" alt="Image" class="img-fluid" /></figure>
                </div>
                <div data-aos="fade-up" data-aos-delay="100" class="col-lg-5 ml-auto">
                    <div class="mb-4">
                        <h3 class="h3 mb-4 text-black"> Activa MKT </h3>
                        <p>Dinámica y moderna, Activa Marketing combina la experiencia de su equipo de trabajo con más de 20 años en el área de comunicaciones y mercadeo, con la innovación constante del mundo digital. <br><br> Todo esto, al servicio de las
                            micro y pequeñas empresas. Si su marca es Activa o desea transformarse en la era digital, nuestro equipo está para acompañarle con las mejores estrategias. Convierte a tu marca en ACTIVA, permítenos acompañarte en la transformación.</p>
                    </div>


                </div>
            </div>
        </div>
    </div>



    <section id="team-section" class="site-section border-bottom">
        <div class="container">
            <div class="row mb-5 justify-content-center">
                <div class="col-md-8 text-center">
                    <h2 data-aos="fade-up" data-aos-delay="" class="section-title mb-3">Nuestro equipo</h2>
                    <p data-aos="fade-up" data-aos-delay="100" class="lead">Equipo multidisciplinario de profesionales, diseñadores, creadores de contenido y programadores.
                    </p>
                </div>
            </div>
            <div class="row">
                <div data-aos="fade-up" data-aos-delay="" class="col-md-6 col-lg-3 mb-4">
                    <div class="team-member">
                        <figure>
                            <ul class="social">
                                <li><a href="#"><span class="icon-facebook"></span></a></li>
                                <li><a href="#"><span class="icon-twitter"></span></a></li>
                                <li><a href="#"><span class="icon-linkedin"></span></a></li>
                                <li><a href="#"><span class="icon-instagram"></span></a></li>
                            </ul><img src="themes/pkurg-oneder/assets/images/person_5.jpg" alt="Image" class="img-fluid" /></figure>
                        <div class="p-3">
                            <h3>Kaiara Spencer</h3><span class="position">Product Manager</span></div>
                    </div>
                </div>
                <div data-aos="fade-up" data-aos-delay="100" class="col-md-6 col-lg-3 mb-4">
                    <div class="team-member">
                        <figure>
                            <ul class="social">
                                <li><a href="#"><span class="icon-facebook"></span></a></li>
                                <li><a href="#"><span class="icon-twitter"></span></a></li>
                                <li><a href="#"><span class="icon-linkedin"></span></a></li>
                                <li><a href="#"><span class="icon-instagram"></span></a></li>
                            </ul><img src="themes/pkurg-oneder/assets/images/person_6.jpg" alt="Image" class="img-fluid" /></figure>
                        <div class="p-3">
                            <h3>Dave Simpson</h3><span class="position">Product Manager</span></div>
                    </div>
                </div>
                <div data-aos="fade-up" data-aos-delay="200" class="col-md-6 col-lg-3 mb-4">
                    <div class="team-member">
                        <figure>
                            <ul class="social">
                                <li><a href="#"><span class="icon-facebook"></span></a></li>
                                <li><a href="#"><span class="icon-twitter"></span></a></li>
                                <li><a href="#"><span class="icon-linkedin"></span></a></li>
                                <li><a href="#"><span class="icon-instagram"></span></a></li>
                            </ul><img src="themes/pkurg-oneder/assets/images/person_7.jpg" alt="Image" class="img-fluid" /></figure>
                        <div class="p-3">
                            <h3>Ben Thompson</h3><span class="position">Product Manager</span></div>
                    </div>
                </div>
                <div data-aos="fade-up" data-aos-delay="300" class="col-md-6 col-lg-3 mb-4">
                    <div class="team-member">
                        <figure>
                            <ul class="social">
                                <li><a href="#"><span class="icon-facebook"></span></a></li>
                                <li><a href="#"><span class="icon-twitter"></span></a></li>
                                <li><a href="#"><span class="icon-linkedin"></span></a></li>
                                <li><a href="#"><span class="icon-instagram"></span></a></li>
                            </ul><img src="themes/pkurg-oneder/assets/images/person_8.jpg" alt="Image" class="img-fluid" /></figure>
                        <div class="p-3">
                            <h3>Kyla Stewart</h3><span class="position">Product Manager</span></div>
                    </div>
                </div>
                <div data-aos="fade-up" data-aos-delay="" class="col-md-6 col-lg-3 mb-4">
                    <div class="team-member">
                        <figure>
                            <ul class="social">
                                <li><a href="#"><span class="icon-facebook"></span></a></li>
                                <li><a href="#"><span class="icon-twitter"></span></a></li>
                                <li><a href="#"><span class="icon-linkedin"></span></a></li>
                                <li><a href="#"><span class="icon-instagram"></span></a></li>
                            </ul><img src="themes/pkurg-oneder/assets/images/person_1.jpg" alt="Image" class="img-fluid" /></figure>
                        <div class="p-3">
                            <h3>Kaiara Spencer</h3><span class="position">Product Manager</span></div>
                    </div>
                </div>
                <div data-aos="fade-up" data-aos-delay="100" class="col-md-6 col-lg-3 mb-4">
                    <div class="team-member">
                        <figure>
                            <ul class="social">
                                <li><a href="#"><span class="icon-facebook"></span></a></li>
                                <li><a href="#"><span class="icon-twitter"></span></a></li>
                                <li><a href="#"><span class="icon-linkedin"></span></a></li>
                                <li><a href="#"><span class="icon-instagram"></span></a></li>
                            </ul><img src="themes/pkurg-oneder/assets/images/person_2.jpg" alt="Image" class="img-fluid" /></figure>
                        <div class="p-3">
                            <h3>Dave Simpson</h3><span class="position">Product Manager</span></div>
                    </div>
                </div>
                <div data-aos="fade-up" data-aos-delay="200" class="col-md-6 col-lg-3 mb-4">
                    <div class="team-member">
                        <figure>
                            <ul class="social">
                                <li><a href="#"><span class="icon-facebook"></span></a></li>
                                <li><a href="#"><span class="icon-twitter"></span></a></li>
                                <li><a href="#"><span class="icon-linkedin"></span></a></li>
                                <li><a href="#"><span class="icon-instagram"></span></a></li>
                            </ul><img src="themes/pkurg-oneder/assets/images/person_3.jpg" alt="Image" class="img-fluid" /></figure>
                        <div class="p-3">
                            <h3>Ben Thompson</h3><span class="position">Product Manager</span></div>
                    </div>
                </div>
                <div data-aos="fade-up" data-aos-delay="300" class="col-md-6 col-lg-3 mb-4">
                    <div class="team-member">
                        <figure>
                            <ul class="social">
                                <li><a href="#"><span class="icon-facebook"></span></a></li>
                                <li><a href="#"><span class="icon-twitter"></span></a></li>
                                <li><a href="#"><span class="icon-linkedin"></span></a></li>
                                <li><a href="#"><span class="icon-instagram"></span></a></li>
                            </ul><img src="themes/pkurg-oneder/assets/images/person_4.jpg" alt="Image" class="img-fluid" /></figure>
                        <div class="p-3">
                            <h3>Chris Stewart</h3><span class="position">Product Manager</span></div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!--
    <section id="portfolio-section" class="site-section">
        <div class="container">
            <div class="row mb-3">
                <div data-aos="fade" class="col-12 text-center">
                    <h2 class="section-title mb-3">Portfolio</h2>
                </div>
            </div>
            <div data-aos="fade-up" class="row justify-content-center mb-5">
                <div id="filters" class="filters text-center button-group col-md-7"><button type="submit" data-filter="*" class="btn btn-primary active">All</button><button type="submit" data-filter=".web" class="btn btn-primary">Web</button><button type="submit" data-filter=".design" class="btn btn-primary">Design</button>
                    <button type="submit" data-filter=".brand" class="btn btn-primary">Brand</button>
                </div>
            </div>
            <div id="posts" class="row no-gutter">
                <div class="item web col-sm-6 col-md-4 col-lg-4 col-xl-3 mb-4"><a href="images/img_1.jpg" data-fancybox="gallery2" class="item-wrap fancybox"><span class="icon-search2"></span><img src="themes/pkurg-oneder/assets/images/img_1.jpg" class="img-fluid"/></a></div>
                <div class="item web col-sm-6 col-md-4 col-lg-4 col-xl-3 mb-4"><a href="images/img_2.jpg" data-fancybox="gallery2" class="item-wrap fancybox"><span class="icon-search2"></span><img src="themes/pkurg-oneder/assets/images/img_2.jpg" class="img-fluid"/></a></div>
                <div class="item brand col-sm-6 col-md-4 col-lg-4 col-xl-3 mb-4"><a href="images/img_3.jpg" data-fancybox="gallery2" class="item-wrap fancybox"><span class="icon-search2"></span><img src="themes/pkurg-oneder/assets/images/img_3.jpg" class="img-fluid"/></a></div>
                <div class="item design col-sm-6 col-md-4 col-lg-4 col-xl-3 mb-4"><a href="images/img_4.jpg" data-fancybox="gallery2" class="item-wrap fancybox"><span class="icon-search2"></span><img src="themes/pkurg-oneder/assets/images/img_4.jpg" class="img-fluid"/></a></div>
                <div class="item web col-sm-6 col-md-4 col-lg-4 col-xl-3 mb-4"><a href="images/img_5.jpg" data-fancybox="gallery2" class="item-wrap fancybox"><span class="icon-search2"></span><img src="themes/pkurg-oneder/assets/images/img_5.jpg" class="img-fluid"/></a></div>
                <div class="item brand col-sm-6 col-md-4 col-lg-4 col-xl-3 mb-4"><a href="images/img_6.jpg" data-fancybox="gallery2" class="item-wrap fancybox"><span class="icon-search2"></span><img src="themes/pkurg-oneder/assets/images/img_6.jpg" class="img-fluid"/></a></div>
                <div class="item web col-sm-6 col-md-4 col-lg-4 col-xl-3 mb-4"><a href="images/img_7.jpg" data-fancybox="gallery2" class="item-wrap fancybox"><span class="icon-search2"></span><img src="themes/pkurg-oneder/assets/images/img_7.jpg" class="img-fluid"/></a></div>
                <div class="item design col-sm-6 col-md-4 col-lg-4 col-xl-3 mb-4"><a href="images/img_8.jpg" data-fancybox="gallery2" class="item-wrap fancybox"><span class="icon-search2"></span><img src="themes/pkurg-oneder/assets/images/img_8.jpg" class="img-fluid"/></a></div>
                <div class="item web col-sm-6 col-md-4 col-lg-4 col-xl-3 mb-4"><a href="images/img_9.jpg" data-fancybox="gallery2" class="item-wrap fancybox"><span class="icon-search2"></span><img src="themes/pkurg-oneder/assets/images/img_9.jpg" class="img-fluid"/></a></div>
                <div class="item design col-sm-6 col-md-4 col-lg-4 col-xl-3 mb-4"><a href="images/img_10.jpg" data-fancybox="gallery2" class="item-wrap fancybox"><span class="icon-search2"></span><img src="themes/pkurg-oneder/assets/images/img_10.jpg" class="img-fluid"/></a></div>
                <div class="item brand col-sm-6 col-md-4 col-lg-4 col-xl-3 mb-4"><a href="images/img_11.jpg" data-fancybox="gallery2" class="item-wrap fancybox"><span class="icon-search2"></span><img src="themes/pkurg-oneder/assets/images/img_11.jpg" class="img-fluid"/></a></div>
                <div class="item design col-sm-6 col-md-4 col-lg-4 col-xl-3 mb-4"><a href="images/img_12.jpg" data-fancybox="gallery2" class="item-wrap fancybox"><span class="icon-search2"></span><img src="themes/pkurg-oneder/assets/images/img_12.jpg" class="img-fluid"/></a></div>
                <div class="item web col-sm-6 col-md-4 col-lg-4 col-xl-3 mb-4"><a href="images/img_13.jpg" data-fancybox="gallery2" class="item-wrap fancybox"><span class="icon-search2"></span><img src="themes/pkurg-oneder/assets/images/img_13.jpg" class="img-fluid"/></a></div>
            </div>
        </div>
    </section>-->



    <section id="services-section" class="site-section border-bottom bg-light">
        <div class="container">
            <div class="row mb-5">
                <div data-aos="fade" class="col-12 text-center">
                    <h2 class="section-title mb-3">Nuestros Servicios</h2>
                </div>
            </div>
            <div class="row align-items-stretch">
                <div data-aos="fade-up" class="col-12" style="margin-top: 100px;margin-bottom: 10%;">
                    <div class="unit-4 ">
                        <div class="unit-4-icon mr-4 "><span class="text-primary flaticon-startup "></span></div>
                        <div>
                            <h3>Desarrollos digitales</h3>
                            <p>Aplicaciones móviles, desarrollos web y desarrollo a la medida de las necesidades.</p>

                        </div>
                    </div>
                </div>
                <div id="design-section">


                    <div data-aos="fade-up " data-aos-delay="100 " class="col-12 " style="margin-top: 45%; margin-bottom: 10%;">
                        <div class="unit-4">
                            <div class="unit-4-icon mr-4"><span class="text-primary flaticon-graphic-design"></span></div>
                            <div>
                                <h3>Diseño y creación de contenido digital</h3>
                                <p>Optimizamos campaña online en todas las plataformas, para ayudarle a atraer <br>seguidores convertirlos en clientes.</p>

                            </div>
                        </div>
                    </div>
                </div>
                <div id="branding-section">
                    <div data-aos="fade-up" data-aos-delay="200" class="col-12 " style="margin-top:  40%; margin-bottom: 10%;">
                        <div class="unit-4">
                            <div class="unit-4-icon mr-4"><span class="text-primary flaticon-settings"></span></div>
                            <div>
                                <h3>Branding</h3>
                                <p>Creadores de identidad visual con personalidad, haciendo que la comunicación visual <br>de su negocio sea coherente, atractiva y profesional.</p>

                            </div>
                        </div>
                    </div>
                </div>
                <div id="analysis-section">
                    <div data-aos="fade-up" data-aos-delay="" class="col-12 " style="margin-top:  40%; margin-bottom: 10%;">
                        <div class="unit-4">
                            <div class="unit-4-icon mr-4"><span class="text-primary flaticon-idea"></span></div>
                            <div>
                                <h3>Analisis de entorno</h3>
                                <p>Analizamos su sector de mercado, su posicionamiento de marca, el de su competencia,<br> tanto en un entorno offline como online.</p>

                            </div>
                        </div>
                    </div>
                </div>

                <div id="b-access-section">
                    <div data-aos="fade-up" data-aos-delay="100" class="col-12 " style="margin-top:  10%; margin-bottom: 10%;">
                        <div class="unit-4">
                            <div class="unit-4-icon mr-4"><span class="text-primary flaticon-smartphone"></span></div>
                            <div>
                                <h3>B-ACCESS</h3>
                                <p>Herramientas para la administración de su negocio + venta en línea en un solo lugar. <br><br> Software diseñado pensando en los pequeños negocios, que desean modernizar su organización y dar un paso más adelante, en la
                                    era digital.
                                </p>
                                <ul>
                                    <li style="margin-bottom: 6px;"><strong>B-Accesible</strong> Se puede implementar en cualquier dispositivo, con mínimos requerimientos técnicos.
                                    </li>
                                    <li style="margin-bottom: 6px;"><strong>B-Conveniente</strong>Se adapta a cualquier tipo de negocio, ferretería, farmacia, restaurante, tienda de ropa, etc.</li>
                                    <li style="margin-bottom: 6px;"><strong>B-Cercano</strong>Fácil de administrar, brindamos además soporte inmediato.</li>
                                    <li style="margin-bottom: 6px;"><strong>B-Económico</strong>Precio accesible, con opciones para adquisición de licencia de uso mensual.</li>
                                    <li style="margin-bottom: 6px;"><strong>B-Sencillo</strong>Ambiente intuitivo, para los clientes que compren en la tienda virtual. Compra fácil y rápida.</li>
                                    <li style="margin-bottom: 6px;"><strong>B-Soluciones</strong>Soluciona las necesidades básicas de todo negocio, como análisis de inventario, cuentas por pagar, entre otros.</li>
                                </ul>

                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>


    <!--
    <section id="testimonials-section" data-aos="fade" class="site-section testimonial-wrap">
        <div class="container">
            <div class="row mb-5">
                <div class="col-12 text-center">
                    <h2 class="section-title mb-3">Testimonials</h2>
                </div>
            </div>
        </div>
        <div class="slide-one-item home-slider owl-carousel">
            <div>
                <div class="testimonial">
                    <blockquote class="mb-5">
                        <p>“Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur unde reprehenderit aperiam quaerat fugiat repudiandae explicabo animi minima fuga beatae illum eligendi incidunt consequatur. Amet dolores excepturi earum unde
                            iusto.”
                        </p>
                    </blockquote>
                    <figure class="mb-4 d-flex align-items-center justify-content-center">
                        <div><img src="themes/pkurg-oneder/assets/images/person_3.jpg" alt="Image" class="w-50 img-fluid mb-3" /></div>
                        <p>John Smith</p>
                    </figure>
                </div>
            </div>
            <div>
                <div class="testimonial">
                    <blockquote class="mb-5">
                        <p>“Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur unde reprehenderit aperiam quaerat fugiat repudiandae explicabo animi minima fuga beatae illum eligendi incidunt consequatur. Amet dolores excepturi earum unde
                            iusto.”
                        </p>
                    </blockquote>
                    <figure class="mb-4 d-flex align-items-center justify-content-center">
                        <div><img src="themes/pkurg-oneder/assets/images/person_2.jpg" alt="Image" class="w-50 img-fluid mb-3" /></div>
                        <p>Christine Aguilar</p>
                    </figure>
                </div>
            </div>
            <div>
                <div class="testimonial">
                    <blockquote class="mb-5">
                        <p>“Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur unde reprehenderit aperiam quaerat fugiat repudiandae explicabo animi minima fuga beatae illum eligendi incidunt consequatur. Amet dolores excepturi earum unde
                            iusto.”
                        </p>
                    </blockquote>
                    <figure class="mb-4 d-flex align-items-center justify-content-center">
                        <div><img src="themes/pkurg-oneder/assets/images/person_4.jpg" alt="Image" class="w-50 img-fluid mb-3" /></div>
                        <p>Robert Spears</p>
                    </figure>
                </div>
            </div>
            <div>
                <div class="testimonial">
                    <blockquote class="mb-5">
                        <p>“Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur unde reprehenderit aperiam quaerat fugiat repudiandae explicabo animi minima fuga beatae illum eligendi incidunt consequatur. Amet dolores excepturi earum unde
                            iusto.”
                        </p>
                    </blockquote>
                    <figure class="mb-4 d-flex align-items-center justify-content-center">
                        <div><img src="themes/pkurg-oneder/assets/images/person_4.jpg" alt="Image" class="w-50 img-fluid mb-3" /></div>
                        <p>Bruce Rogers</p>
                    </figure>
                </div>
            </div>
        </div>
    </section> -->



    <!-- <div class="container">
        <div class="row mb-5">
            <div data-aos="fade-up" class="col-12 text-center">
                <h2 class="section-title mb-3">Pricing</h2>
            </div>
        </div>
        <div class="row mb-5">
            <div data-aos="fade-up" data-aos-delay="" class="col-md-6 mb-4 mb-lg-0 col-lg-4">
                <div class="pricing">
                    <h3 class="text-center text-black">Basic</h3>
                    <div class="price text-center mb-4"><span><span>$47</span> / year</span>
                    </div>
                    <ul class="list-unstyled ul-check success mb-5">
                        <li>Officia quaerat eaque neque</li>
                        <li>Possimus aut consequuntur incidunt</li>
                        <li class="remove">Lorem ipsum dolor sit amet</li>
                        <li class="remove">Consectetur adipisicing elit</li>
                        <li class="remove">Dolorum esse odio quas architecto sint</li>
                    </ul>
                    <p class="text-center"><a href="#" class="btn btn-secondary">Buy Now</a></p>
                </div>
            </div>
            <div data-aos="fade-up" data-aos-delay="100" class="col-md-6 mb-4 mb-lg-0 col-lg-4">
                <div class="pricing">
                    <h3 class="text-center text-black">Premium</h3>
                    <div class="price text-center mb-4"><span><span>$200</span> / year</span>
                    </div>
                    <ul class="list-unstyled ul-check success mb-5">
                        <li>Officia quaerat eaque neque</li>
                        <li>Possimus aut consequuntur incidunt</li>
                        <li>Lorem ipsum dolor sit amet</li>
                        <li>Consectetur adipisicing elit</li>
                        <li class="remove">Dolorum esse odio quas architecto sint</li>
                    </ul>
                    <p class="text-center"><a href="#" class="btn btn-primary">Buy Now</a></p>
                </div>
            </div>
            <div data-aos="fade-up" data-aos-delay="200" class="col-md-6 mb-4 mb-lg-0 col-lg-4">
                <div class="pricing">
                    <h3 class="text-center text-black">Professional</h3>
                    <div class="price text-center mb-4"><span><span>$750</span> / year</span>
                    </div>
                    <ul class="list-unstyled ul-check success mb-5">
                        <li>Officia quaerat eaque neque</li>
                        <li>Possimus aut consequuntur incidunt</li>
                        <li>Lorem ipsum dolor sit amet</li>
                        <li>Consectetur adipisicing elit</li>
                        <li>Dolorum esse odio quas architecto sint</li>
                    </ul>
                    <p class="text-center"><a href="#" class="btn btn-secondary">Buy Now</a></p>
                </div>
            </div>
        </div> -->

    <section class="site-section bg-light">
        <div class="container">


            <div id="offer-section" class="row site-section">
                <div data-aos="fade" class="col-12 text-center">
                    <h2 class="section-title">¿Que ofrecemos?</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <div data-aos="fade-up" data-aos-delay="100" class="mb-5">
                        <h3 class="text-black h5 mb-4">Soluciones personalizadas y efectivas</h3>
                        <p>Desarrollos acorde a las necesidades de los clientes, que brinden eficiencia y competitividad en sus procesos.</p>
                    </div>

                    <div data-aos="fade-up" data-aos-delay="100" class="mb-5">
                        <h3 class="text-black h5 mb-4">Tranferencia de conocimiento</h3>
                        <p>Facilitar a nuestros clientes capacitaciones y material de apoyo continuo.</p>
                    </div>

                </div>

                <div class="col-lg-6">
                    <div data-aos="fade-up" data-aos-delay="100" class="mb-5">
                        <h3 class="text-black h5 mb-4">Soporte</h3>
                        <p>Acompañamiento en los desarrollos, con la finalidad de convertirnos en sus aliados.</p>
                    </div>
                    <div data-aos="fade-up" data-aos-delay="100" class="mb-5">
                        <h3 class="text-black h5 mb-4">Precios competitivos</h3>
                        <p>Herramientas accesibles a sus presupuestos.</p>
                    </div>
                </div>

            </div>
        </div>

    </section>



    <!--  <section id="about-section-2" class="site-section">
        <div class="container">
            <div class="row mb-5">
                <div data-aos="fade" data-aos-delay="" class="col-lg-6 ml-auto mb-5 order-1 order-lg-2"><img src="themes/pkurg-oneder/assets/images/hero_1.jpg" alt="Image" class="img-fluid rounded" /></div>
                <div data-aos="fade" class="col-lg-6 order-2 order-lg-1">
                    <div class="row">
                        <div data-aos="fade-up" data-aos-delay="" class="col-md-12 mb-md-5 mb-0 col-lg-6">
                            <div class="unit-4">
                                <div class="unit-4-icon mr-4 mb-3"><span class="text-primary flaticon-head"></span></div>
                                <div>
                                    <h3>Web & Mobile Specialties</h3>
                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis quis consect.</p>
                                    <p class="mb-0"><a href="#">Learn More</a></p>
                                </div>
                            </div>
                        </div>
                        <div data-aos="fade-up" data-aos-delay="100" class="col-md-12 mb-md-5 mb-0 col-lg-6">
                            <div class="unit-4">
                                <div class="unit-4-icon mr-4 mb-3"><span class="text-primary flaticon-smartphone"></span></div>
                                <div>
                                    <h3>Intuitive Thinkers</h3>
                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis quis.</p>
                                    <p class="mb-0"><a href="#">Learn More</a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
-->


    <section id="blog-section" class="site-section">
        <div class="container">
            <div class="row mb-5">
                <div data-aos="fade" class="col-12 text-center">
                    <h2 class="section-title mb-3">Nuestro Blog</h2>
                </div>
            </div>
            <div class="row">
                <div data-aos="fade-up" data-aos-delay="" class="col-md-6 col-lg-4 mb-4 mb-lg-4">
                    <div class="h-entry">
                        <a href="single.html"><img src="themes/pkurg-oneder/assets/images/post_1.jpg" alt="Image" class="img-fluid" /></a>
                        <h2 class="font-size-regular"><a href="#">Repudiandae Quisquam Eaque Dolore</a></h2>
                        <div class="meta mb-4">Ham Brook <span class="mx-2">•</span> Jan 18, 2019<span class="mx-2">•</span> <a href="#">News</a></div>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus eligendi nobis ea maiores sapiente veritatis reprehenderit suscipit quaerat rerum voluptatibus a eius.</p>
                        <p><a href="#">Continue Reading...</a></p>
                    </div>
                </div>
                <div data-aos="fade-up" data-aos-delay="100" class="col-md-6 col-lg-4 mb-4 mb-lg-4">
                    <div class="h-entry">
                        <a href="single.html"><img src="themes/pkurg-oneder/assets/images/post_2.jpg" alt="Image" class="img-fluid" /></a>
                        <h2 class="font-size-regular"><a href="#">Repudiandae Quisquam Eaque Dolore</a></h2>
                        <div class="meta mb-4">James Phelps <span class="mx-2">•</span> Jan 18, 2019<span class="mx-2">•</span> <a href="#">News</a></div>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus eligendi nobis ea maiores sapiente veritatis reprehenderit suscipit quaerat rerum voluptatibus a eius.</p>
                        <p><a href="#">Continue Reading...</a></p>
                    </div>
                </div>
                <div data-aos="fade-up" data-aos-delay="200" class="col-md-6 col-lg-4 mb-4 mb-lg-4">
                    <div class="h-entry">
                        <a href="single.html"><img src="themes/pkurg-oneder/assets/images/post_3.jpg" alt="Image" class="img-fluid" /></a>
                        <h2 class="font-size-regular"><a href="#">Repudiandae Quisquam Eaque Dolore</a></h2>
                        <div class="meta mb-4">James Phelps <span class="mx-2">•</span> Jan 18, 2019<span class="mx-2">•</span> <a href="#">News</a></div>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus eligendi nobis ea maiores sapiente veritatis reprehenderit suscipit quaerat rerum voluptatibus a eius.</p>
                        <p><a href="#">Continue Reading...</a></p>
                    </div>
                </div>
            </div>
        </div>


        {%content'Blog'%}

    </section>



    <section id="contact-section" data-aos="fade" class="site-section bg-light">
        <div class="container">
            <div class="row mb-5">
                <div class="col-12 text-center">
                    <h2 class="section-title mb-3">Contactanos</h2>
                </div>
            </div>
            <div class="row mb-5">
                <div class="col-md-4 text-center">
                    <p class="mb-4"><span class="icon-room d-block h4 text-primary"></span><span>203 Fake St. Mountain View, San Francisco, California, USA</span></p>
                </div>
                <div class="col-md-4 text-center">
                    <p class="mb-4"><span class="icon-phone d-block h4 text-primary"></span><a href="#">+1 232 3235 324</a></p>
                </div>
                <div class="col-md-4 text-center">
                    <p class="mb-0"><span class="icon-mail_outline d-block h4 text-primary"></span><a href="#">youremail@domain.com</a></p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 mb-5">
                    <form action="#" class="p-5 bg-white">
                        <h2 class="h4 text-black mb-5">Completa nuestro formulario</h2>
                        <div class="row form-group">
                            <div class="col-md-12 mb-3 mb-md-0"><label for="fname" class="text-black">Nombre completo<div></div></label><input required type="text" id="name" name="default-name" placeholder="Nombre completo" class="form-control" /></div>

                        </div>
                        <div class="row form-group">
                            <div class="col-md-12"><label for="email" class="text-black">Email<div></div></label><input required type="email" id="email" name="default-name" placeholder="Email" class="form-control" /></div>
                        </div>
                        <div class="row form-group">
                            <div class="col-md-12"><label for="subject" class="text-black">Empresa (opcional)<div></div></label><input type="text" id="company" name="default-name" placeholder="Empresa" class="form-control" /></div>
                        </div>
                        <div class="row form-group">
                            <div class="col-md-12"><label for="message" class="text-black">Teléfono<div></div></label><input type="text" id="phone" cols="30" rows="7" placeholder="tel:" class="form-control"></input>
                            </div>
                        </div>

                        <div class="row form-group">
                            <div class="col-md-12"><label for="message" class="text-black">Teléfono<div></div></label>
                                <select class="form-control" id="exampleFormControlSelect1">
                                <option>servicio 1</option>
                                <option>servicio 2</option>
                                <option>servicio 3</option>
                                <option>servicio 4</option>
                                <option>servicio 5</option>
                              </select>

                            </div>
                        </div>

                        <div class="row form-group">
                            <div class="col-md-12"><input type="submit" id="exampleInput" name="default-name" placeholder="Insert text here" value="Enviar" class="btn btn-primary btn-md text-white" /></div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <footer class="site-footer">
        <div class="container">
            <div class="row">
                <div class="col-md-9">
                    <div class="row">
                        <div class="col-md-5">
                            <h2 class="footer-heading mb-4">About Us</h2>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque facere laudantium magnam voluptatum autem. Amet aliquid nesciunt veritatis aliquam.</p>
                        </div>
                        <div class="col-md-3 ml-auto">
                            <h2 class="footer-heading mb-4">Quick Links</h2>
                            <ul class="list-unstyled">
                                <li><a href="#about-section" class="smoothscroll">About Us</a></li>
                                <li><a href="#services-section" class="smoothscroll">Services</a></li>
                                <li><a href="#testimonials-section" class="smoothscroll">Testimonials</a></li>
                                <li><a href="#contact-section" class="smoothscroll">Contact Us</a></li>
                            </ul>
                        </div>
                        <div class="col-md-3">
                            <h2 class="footer-heading mb-4">Follow Us</h2><a href="#" class="pl-0 pr-3"><span class="icon-facebook"></span></a><a href="#" class="pl-3 pr-3"><span class="icon-twitter"></span></a><a href="#" class="pl-3 pr-3"><span class="icon-instagram"></span></a>
                            <a href="#" class="pl-3 pr-3"><span class="icon-linkedin"></span></a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <h2 class="footer-heading mb-4">Subscribe Newsletter</h2>
                    <form action="#" method="post" class="footer-subscribe">
                        <div class="input-group mb-3"><input type="text" id="exampleInput-2" name="default-name" placeholder="Enter Email" aria-label="Enter Email" aria-describedby="button-addon2" class="form-control border-secondary text-white bg-transparent" />
                            <div class="input-group-append"><button type="button" id="button-addon2" class="btn btn-primary text-black">Send</button></div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="row pt-5 mt-5 text-center">
                <div class="col-md-12">
                    <div class="border-top pt-5">
                        <p>
                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                            Copyright ©2020 All rights reserved | This template is made with <i aria-hidden="true" class="icon-heart text-danger"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</div>
<!-- .site-wrap -->


{% component 'ContentBuilder' %}