title = "blog_post"
url = "/post/:slug"
is_hidden = 0

[viewBag]

[blogPost]
slug = "{{ :slug }}"
categoryPage = "blog_post"

[blogPosts]
pageNumber = "{{ :page }}"
postsPerPage = 10
noPostsMessage = "No posts found"
sortOrder = "published_at desc"
categoryPage = "main"
postPage = "blog_post"

[ContentBuilder]
savedatato = "content"
rootdir = "media"
==
<div class="content">
<div class="row">


<div class="col-12 col-md-9">
{% component 'blogPost' %}
</div>


<div class="col-12 col-md-3 border-left">



<style>
.ff{
 visibility: hidden !important; 
 
 
}
 .example{
margin-top: -125%;

}

.font-size-regular{
     font-size: 20px;
     }
     .col-lg-4{
          }
    
}
</style>



<h1 class="text-center">Ultimos posts</h1>
<div class="mgt">
{% component 'blogPosts' %}
</div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
$(document).ready(function(){
  $(function(){
    $("div").removeClass("col-lg-4 col-md-6");
  });
});
</script>


</div>
</div>