<!doctype html>
<html lang="en">
  <head>
    <title>Oneder &mdash; Website Template by Colorlib</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    
    <title>{{ this.page.meta_title }}</title>
	<meta name="description" content="{{ this.page.meta_description }}">

    <link href="https://fonts.googleapis.com/css?family=Work+Sans:400,700,900&display=swap" rel="stylesheet">



    <link rel="stylesheet" href="{{ 'assets/css/bootstrap.min.css'| theme }}">
    <link rel="stylesheet" href="{{ 'assets/css/jquery-ui.css'| theme }}">
    <link rel="stylesheet" href="{{ 'assets/css/owl.carousel.min.css'| theme }}">
    <link rel="stylesheet" href="{{ 'assets/css/owl.theme.default.min.css'| theme }}">
    <link rel="stylesheet" href="{{ 'assets/css/owl.theme.default.min.css'| theme }}">

    <link rel="stylesheet" href="{{ 'assets/css/jquery.fancybox.min.css'| theme }}">

    <link rel="stylesheet" href="{{ 'assets/css/bootstrap-datepicker.css'| theme }}">

    <link rel="stylesheet" href="{{ 'assets/fonts/flaticon/font/flaticon.css'| theme }}">
    <link rel="stylesheet" href="{{ 'assets/fonts/icomoon/style.css'| theme }}">

    <link rel="stylesheet" href="{{ 'assets/css/aos.css'| theme }}">

    <link rel="stylesheet" href="{{ 'assets/css/style.css'| theme }}">
    
    <script src="{{ 'assets/js/jquery-3.3.1.min.js'| theme }}"></script>
    {% styles %}
  </head>
  <body data-spy="scroll" data-target=".site-navbar-target" data-offset="300">
  

  {% page %}



  
  <script src="{{ 'assets/js/jquery-ui.js'| theme }}"></script>
  <script src="{{ 'assets/js/popper.min.js'| theme }}"></script>
  <script src="{{ 'assets/js/bootstrap.min.js'| theme }}"></script>
  <script src="{{ 'assets/js/owl.carousel.min.js'| theme }}"></script>
  <script src="{{ 'assets/js/jquery.countdown.min.js'| theme }}"></script>
  <script src="{{ 'assets/js/jquery.easing.1.3.js'| theme }}"></script>
  <script src="{{ 'assets/js/aos.js'| theme }}"></script>
  <script src="{{ 'assets/js/jquery.fancybox.min.js'| theme }}"></script>
  <script src="{{ 'assets/js/jquery.sticky.js'| theme }}"></script>
  <script src="{{ 'assets/js/isotope.pkgd.min.js'| theme }}"></script>

  
  <script src="{{ 'assets/js/main.js'| theme }}"></script>

  {% framework extras %}
  {% scripts %}
    
  </body>
</html>